[user]
	name = Elliot Evans
	email = elliot@mercarto.com
[core]
	editor = nano
	whitespace = fix,-indent-with-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[web]
	browser = google-chrome
[github]
	user = elliot-evans-95
	token = token
[alias]
	a = add --all
	#############
